@import "colors.css";

* {
    border: none;
    border-radius: 8px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 25px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
    color: @primary;
    transition: background 0.5s;
}

#workspaces button {
    margin: 4px 0px;
    padding: 2px 10px;
    color: @primary;
}

#workspaces button.active {
    margin: 4px 0px;
    background: @surface_container;
    color: @primary;
}

#clock, #cpu, #memory, #tray, #pulseaudio {
    margin: 4px 5px;
    padding: 2px 10px;
    background: @surface_container;
    border-radius: 8px;
}
